[project]
name = "aoc"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "ipython>=9.4.0",
    "jupyter>=1.1.1",
    "numpy>=2.3.5",
    "pyperf>=2.9.0",
    "scipy>=1.16.3",
]
